/*active page==============================================*/
.nav-mid a:last-of-type button {
  background-color: rgb(30, 87, 54);
  color: rgb(255, 250, 207);
}

.nav-mid a:last-of-type button:hover {
  background-color: rgb(0, 145, 73);
  color: rgb(241, 255, 250);
  transition: background-color 0.4s, color 0.4s;
}